/* *********************** FOOTER ***************************************************************************************************************************** */
#footer {
    display: flex;
    margin-top: 150vh;
    margin-left: 85%;
}
