@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Syncopate&display=swap');
@import url(./footer.css);
@import url(./header.css);

html {
    scroll-behavior: smooth;
}

body {
    color: black !important;
    background-color: #f7f7f7 !important;
    font-family: 'Josefin Sans', sans-serif;
    background: url(media/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 300vh;
}

h2, h3 {
    font-family: 'Syncopate', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #003;
}

li {
    list-style-type: none;
}


/* *********************** LANGAGES ********************************************************************************************************************************************** */
#langages {
    padding: 90px 80px 50px 50px;
    margin: 20px 0 0 6%;
    width: 47%;
    max-width: 640px;
    background: linear-gradient(90deg,#dbe1ff 0%, rgba(219,225,255,0.91) 40%, rgba(219,225,255,0.86) 40%, #dbe1ff 90%);
    clip-path: polygon(0 16%, 100% 6%, 98% 93%, 0% 100%);
}

#langages .bar {
    padding: 10px 0 4px 0;
    letter-spacing: 0.1em;
}


/* *********************** FORMATIONS ***************************************************************************************************************************** */

#formations {
    position: relative;
    top: -400px;
    right: 0.1em;
    padding: 80px 50px 80px 40px;
    margin: 20px 0 0 60%;
    width: 47%;
    max-width: 500px;
    background: linear-gradient(90deg,rgba(90, 115, 240, 0.86) 0%, rgba(90, 115, 240, 0.86) 40%, rgba(90, 115, 240, 0.86) 40%, rgba(90, 115, 240, 0.86) 90%);
    clip-path: polygon(0 6%, 75% 10%, 75% 100%, 0% 90%);
}


h4 {
    padding-top: 20px;
}