@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Syncopate&family=Titan+One&display=swap');
@import url(/assets/css/footer.css);
@import url(/assets/css/header.css);
@import url(/assets/css/langages.css);
@import url(/assets/css/formations.css);
@import url(/assets/css/oskills.css);
@import url(/assets/css/hobbies.css);
@import url(/assets/css/typed.css);
@import url(/assets/css/projects.css);

html {
    scroll-behavior: smooth;
}

body {
    color: black !important;
    background-color: #f7f7f7 !important;
    font-family: 'Josefin Sans', sans-serif;
    background: url(media/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
}

h2, h3 {
    font-family: 'Syncopate', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #003;
}

li {
    list-style-type: none;
}

#info a:hover {
    text-decoration: none;
}







