/* *********************** FORMATIONS ***************************************************************************************************************************** */



#formations {
    position: relative;
    float: right;
    top: -600px;
    padding: 80px 0px 80px 20px;
    margin: 20px 7% 0 0;
    width: 400px;
    background: linear-gradient(90deg,rgba(90, 115, 240, 0.86) 0%, rgba(90, 115, 240, 0.86) 40%, rgba(90, 115, 240, 0.86) 40%, rgba(90, 115, 240, 0.86) 90%);
    clip-path: polygon(0 6%, 100% 10%, 100% 100%, 0% 90%);
}

#formations div {
    max-width: 400px;
}

#ESIREM {
    padding-top: 20px;
}


#autodidacte {
    padding-top: 20px;
}


#openc {
    padding-top: 20px;
}


#formations h4{
    letter-spacing: 0.01em;
    padding-bottom: 10px;
}


.counter {
    display: flex;
    text-align: center;
}


.data {
    border: 2px solid #35b4;
    width: 130px;
    margin: 0 4%;
}

#level {
    font-size: 1.895em;
}
.counter-value {
    font-size: 2em;
}


.data-span {
    font-size: 1.8em;
}