/* *********************** MEDIA QUERIES ***************************************************************************************************************************** */
@media screen and (max-width: 1100px) {
    .infos h5, .typed {
        font-size: 0.9em;
    }
    #langages {
        margin-left: 1%;
    }
    #formations {
        margin-right: 2%;
    }
    .network {
        font-size: 2em;
        padding: 10px 20px;
    }
    #other-skills h3 {
        margin-top: 5%;
    }
    #hobbies img {
        width: 100px;
    }
    .flip-box-inner {
        height: 50px;
    }
    .flip-box-back p {
        padding: 20px 0;
        font-size: 0.8em;
    }
    #foot-us p {
        padding: 10px 0;
        font-size: 0.8em;
    }
    #projects h3 {
        margin-top: 5%;
    }
    #logo-boulder {
        width: 200px;
        margin-top: 40px;
    }
    #logo-morpion {
        width: 120px;
        margin-left: 50px;
    }
    .footer-icons {
        max-width: 40%;
    }
    .photo img {
        max-width: 90%;
    }
    #formations {
        margin: 20px 10% 0 0;
    }
    #langages {
        margin: 20px 0 0 8%;
    }
}


@media screen and (max-width: 520px) {
    .navbar {
        display: none !important;
    }
    .fixed-top {
        position: unset !important;
    }
    h1 {
        padding-top: 10px;
    }

    #formations {
        display: block;
        top: 0;
        clip-path: none;
        width: 100%;
        margin-right: 0;
        float:none;
        padding-left: 50px;
    }

    #langages {
        clip-path: none;
        width: 100%;
        padding: 10px 10px 10px 30px;
        margin-top: 30%;
        margin-left: 0;
    }

    #other-skills {
        clip-path: none;
        padding: 0 0 0 10px;
        margin-top: 20px;
        
    }
    #other-skills h3 {
        padding: 5px 0 10px;
        transform: none;
        margin-top: 0;
    }
    .cloud {
        margin: 0;
        padding: 0;
        text-transform: none;
    }

    #hobbies {
        top: 0;
        margin-top: 20px;
        clip-path: none;
        flex-direction: column;
    }

    #projects {
        margin: 110px 0 0 0;
        padding: 0;
        clip-path: none;
    }

    .arrow {
        margin-right: 2px;
    }

    .footer-icons div{
        margin: 5px;
    }

}
