/* *********************** PROJECTS ***************************************************************************************************************************** */

#projects {
    padding: 50px 50px 250px 50px;
    margin: -210px 0 -90px 0;
    clip-path: polygon(0 11%, 100% 0, 100% 66%, 0 83%);
    background: rgb(114, 1, 194); 
    justify-content: space-between;
}


#projects h3 {
    font-family: 'Titan One', sans-serif;
    font-style: italic;
    font-size: 2.5em;
    transform: rotate(-2.5deg);
    padding: 10px 0;
    margin: 0 0 10% 6%;
    text-shadow: -1px 1px 0px black;
    color: salmon;
}


#projects div {
    display: flex;
}


#projects a {
    width: 100px;
    height: 50px;
}


/* Boulder */
#boulder {
    margin-bottom: 150px;
}


#boulder p {
    font-weight: bold;
    margin-top: 30px;
    font-style: italic;
    margin-left: 23%;
    max-width: 27.5%;

}


#logo-boulder {
    width: 230px;
    margin-left: 15px;
}


/* Morpion */
#morpion {
    padding-bottom: 60px;
}


#morpion p {
    display: flex;
    text-align: center;
    max-width: 31%;
    font-weight: bold;
    font-style: italic;
    margin-top: 30px;
    margin-left: 20%;

}


#morpion .plus, #boulder .plus {
    margin: 40px 80px 0;
    color: rgb(0, 0, 102);
}


#logo-morpion {
    width: 150px;
    margin-left: 50px;
}


#download {
    border-radius: 10px;
    display: flex;
    margin-left: 31%;
    margin-top: 20px;
}




