/* *********************** TYPED ***************************************************************************************************************************** */


#typed {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#typed p {
    margin-top: 16%;
}

#info {
    max-width: fit-content;
}