/* *********************** TYPED ***************************************************************************************************************************** */


#typed > a:hover {
    text-decoration: none;
    text-transform: none;
}

#typed {
    display: flex;
    flex-direction: column;
}

#typed p {
    margin-top: 16%;
}

#logo {
    margin-top: 20px;
    width: 50%;
    height: auto;
}

#morpion {
    border-radius: 10px;
    display: flex;
    margin-left: 31%;
    margin-top: 20px;
}

#info {
    max-width: fit-content;
}